[alias]
  lg = log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
  editor = vim
  excludesFile = ~/.gitignore
  sshcommand = ssh -i ~/.ssh/id_ed25519
[net]
  git-fetch-with-cli = true
[init]
  defaultBranch = main
[diff]
  tool = vimdiff
[merge]
	conflictStyle = diff3
[user]
  name = funlexer
  email = funlexer@gmail.com
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[url "git@github.com:"]
  insteadOf = https://github.com/

[includeIf "gitdir:~/pjt/man/"]
  path = ~/.gitconfig_man
